---
- name: Install HPLIP
  apt: name=hplip state=latest

- name: Copy hp-plugin-install.exp install script to {{ cups_tmp_location }}
  copy:
    src: "files/hp-plugin-install.exp"
    dest: "{{cups_tmp_location}}/hp-plugin-install.exp"
    mode: a+rx

- name: Installing HP Plugin using an expect script to avoid user interaction
  command: "{{cups_tmp_location}}/hp-plugin-install.exp"
