# CUPS - SNMP
# {{ ansible_managed }}

#
# SNMP configuration file for CUPS.  See "man cups-snmp.conf" for a complete
# description of this file.
#

{% if cups_snmp_locations_to_scan is defined %}
	{% for location in cups_snmp_locations_to_scan %}
		Address {{ location }}
	{% endfor %}
    Community {{ cups_snmp_community_name }}
{% endif %}